.profile {
  background: #fff;
}

.profile__container {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 74px 0 113px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin-top: 232px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 425px) {
  .profile__title {
    margin-top: 68px;
    margin-bottom: 65px;
  }
}

.profile__form {
  display: flex;
  flex-direction: column;
  width: 410px;
}

@media screen and (max-width: 425px) {
  .profile__form {
    width: 260px;
  }
}


.profile__input-container {
  display: flex;

  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 6px
}


.register__span_type_profile {
  display: block;
  min-height: 10px;
  align-self: center;
  margin-top: 174px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .register__span_type_profile {
    margin-top: 164px;
  }
}

@media screen and (max-width: 425px) {
  .register__span_type_profile {
    margin-top: 331px;
  }
}




.profile__label {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 8px;
  min-width: fit-content;
  align-self: center;
}

.profile__input {
  text-align: end;
  border: none;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
}

.profile__edit {
  margin-top: 20px;
  padding: 0;
  border: none;
  background: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;

  color: black;
  opacity: 0.6;
}

.profile__edit_active {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__edit {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .profile__edit {
    font-size: 12px;
  }
}

.profile__edit:hover {
  opacity: 0.6;
  transition: 0.4s opacity;
}

.profile__out {
  font-size: 13px;
  font-weight: 500;
  color: #ee3465;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 425px) {
  .profile__out {
    font-size: 12px;
  }
}

.profile__out:hover {
  opacity: 0.6;
  transition: 0.4s opacity;
}
