.navigation {
  display: flex;
}

.navigation__link {
  font-family: "Inter";
  margin-right: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  align-self: center;
  
}

.navigation__link:nth-child(2) {
  margin-right: 50px;
}

.navigation__link:nth-child(3) {
  margin: 0;
}

.navigation__logo {
  max-width: 100%;
 display: flex;

}