.aboutme {
  padding: 0 70px 0 70px;
  
}

@media screen and (max-width: 1024px) {
  .aboutme {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 495px) {
  .aboutme {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 425px) {
  .aboutme {
    padding-right: 14px;
    padding-left: 14px;
  }
}

.aboutme__container {
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 425px) {
  .aboutme__container {
    flex-direction: column-reverse;

   
  }
}
.aboutme__container-text {
  display: flex;
  flex-direction: column;
  
}



.aboutme__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  margin: 66px 0 18px;
}

@media screen and (max-width: 768px) {
  .aboutme__title {
    font-size: 40px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 594px) {
  .aboutme__title {
    font-size: 30px;
    
  }
}


@media screen and (max-width: 425px) {
  .aboutme__title {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    
  }
}
.aboutme__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .aboutme__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .aboutme__subtitle {
    font-size: 11px;
    line-height: 1.2;
  }
}

.aboutme__discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  max-width: 600px;
  margin: 26px 0 0;
}

@media screen and (max-width: 768px) {
  .aboutme__discription {
    font-size: 12px;
    margin-top: 20px;
    max-width: 364px;
  }
}
@media screen and (max-width: 425px) {
  .aboutme__discription {
    width: 100%;
    font-size: 11px;
    line-height: 1.4;
    
  }
}

.aboutme__link {
  margin: 100px 0 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  text-decoration-line: none;
  color: black;
  max-width: 46px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .aboutme__link {
    margin-top: 87px;
    margin-bottom: 91px;
    
  }
}
@media screen and (max-width: 320px) {
  .aboutme__link {
    margin-top: 40px;
    margin-bottom: 70px;
    
  }
}
.aboutme__link:hover {
  opacity: 0.6;
  transition: 0.4s opacity;
}

.aboutme__photo {
  max-width: 270px;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-top: 66px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .aboutme__photo {
    max-width: 255px;
  }
}
@media screen and (max-width: 575px) {
  .aboutme__photo {
    max-width: 180px;
  }
}

@media screen and (max-width: 425px) {
  .aboutme__photo {
  max-width: 100%;
   margin-top: 60px;
  }
}
